<h1 class="text-muted mt-5"><span class="bi bi-file-earmark-person-fill"></span> Lista de Contactos</h1>
<hr>

<div class="d-block text-end">
  <%= link_to " Añadir Contactos", new_contact_path , class: 'bi bi-plus-square-fill btn boton_personalizado' %>
</div>

<table class="table mt-3 table-striped table-hover table-sm">
	<tr class="table-dark">
		<td>Nombre</td>
		<td class="text-center">Sede / Oficina</td>
		<td class="text-center">Ocupación</td>
		<td class="text-center">Teléfono</td>
		<td class="text-center">Celular</td>
		<td class="text-center">Correo Electrónico</td>		
		<td class="text-center">Modificar</td>			
	</tr>

	<% @contacts.each do |contact| %>
	<tr>		
		<td><%= contact.name.titleize %></td>
		<td class="text-center"><%= contact.office.titleize %></td>
		<td class="text-center"><%= contact.position %></td>
		<td class="text-center"><%= link_to contact.phone, "tel:#{contact.phone}" %></td>
		<td class="text-center"><%= link_to contact.cellphone, "tel:#{contact.cellphone}" %></td>
		<td><%= mail_to contact.email %></td>		
		<td class="text-center"> <%= link_to '', edit_contact_path(contact) , class: "bi bi-pencil-fill" %></td> 
     </tr>
<% end %>
</table>

<p class="text-end">
  Descargar Datos:
  <%= link_to "CSV", companies_path(format: "csv"), class: 'bi bi-file-spreadsheet' %> 
  <%= link_to "Excel", companies_path(format: "xls"), class: 'bi bi-file-earmark-spreadsheet' %>
</p>