<style type="text/css">
  .boton_personalizado {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #ffffff;
    border-radius: 8px;
    background-color: #be0811;
    text-decoration:none;
}
a {
	text-decoration: none;
}
</style>

<h1>Contactos Aliados Comerciales</h1>

<% if @companies.count <= 0 %>

<section class="section section-empty-container">
  <div class="section-empty">
    <div class="container has-text-centered">
       <h4 class="subtitle">
        Aún no hay datos - Sé el primero en  <strong><%= link_to "Crear un nuevo registro", new_company_path, class: 'btn boton_personalizado btn' %></strong>
      </h4>
    </div>
  </div>  
</section>

<% else %>

<div class="d-block text-end">
	<%= link_to " Añadir A.C", new_company_path , class: 'bi bi-plus-square-fill btn boton_personalizado' %>
</div>

<hr>
<table class="table table-striped table-hover">
	<tr class="table-danger">
		<td>Aliado comercial</td>
		<td>Interventor</td>
		<td>Correo Electrónico</td>
		<td class="text-center">Teléfono</td>
		<td class="text-center">Celular</td>	
		<td class="text-center">Cantidad de Sedes</td>
	</tr>

<% @companies.each do |company| %>
	<tr>
		<td><%= link_to company.name_company, company_path(company) %></td>
		<td><%= company.controller.titleize %></td>
		<td><%= mail_to company.email.downcase %></td>
		<td class="text-center"><%= company.phone %></td>
		<td><%= company.cellphone %></td>
		<td class="text-center"><%= company.quantityoffice.round %></td>
     </tr>
	<% end %>
</table>

<p class="text-end">
  Descargar Datos:
  <%= link_to "CSV", companies_path(format: "csv") %> |
  <%= link_to "Excel", companies_path(format: "xls") %>
</p>

<% end %>

